<div data-role="page" id="menu" data-dom-cache="true">
  <div role="main" class="ui-content">
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <div class="ui-bar ui-bar-e">
          <a data-role="button" href="<%= gallery_mobile_marriage_path(@marriage) %>" data-shadow="false" data-theme="none" data-prefetch>
            <%= image_tag('icons/gallery.png') %>
            <p>结婚相册</p>
          </a>
        </div>
      </div>
      <div class="ui-block-b">
        <div class="ui-bar ui-bar-e">
          <a  data-role="button" id="menu_link" href="<%= schedules_mobile_marriage_path(@marriage) %>" data-shadow="false" data-theme="none" data-prefetch>
            <%= image_tag('icons/schedule.png') %>
            <p>日程安排</p>
          </a>
        </div>
      </div>
    </div>
<!--     <div class="ui-grid-a">
      <div class="ui-block-a">
        <div class="ui-bar ui-bar-e">
          <a data-role="button" href="#schedule" data-shadow="false" data-theme="none">
            <%= image_tag('map-white.png',  :width => "50", :height => "50") %>
            <p>酒店地图</p>
          </a>
        </div>
      </div>
      <div class="ui-block-b">
        <div class="ui-bar ui-bar-e">
          <a data-role="button" href="#" data-shadow="false" data-theme="none">
            <%= image_tag('story-white1.png',  :width => "50", :height => "50") %>
            <p>关于我们</p>
          </a>
        </div>
      </div>
    </div> -->
  </div>
</div>