<!DOCTYPE html> 
<html>
<head>
  <title>wed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "mobile", media: "all", "data-turbolinks-track" => true %>
    
    <%= yield :head %>
    <%= csrf_meta_tags %>
</head>

<body>
    <%= yield %>
</body>
  <%= javascript_include_tag "mobile", "data-turbolinks-track" => true %>
  <%= yield :tail %>
</html>